@page
@model VendingMachine.Pages.User.IndexModel
@{
}

@{
    ViewBag.Title = "Vending Machine";
}

<table class="drink">
    <tr>
        <td>Drink</td>
        @foreach (var item in Model.DrinkViewModel.Drinks)
        {
            <td>@item.Name</td>
        }
    </tr>
    <tr>
        <td>Image</td>
        @foreach (var item in Model.DrinkViewModel.Drinks)
        {
            <td><img src="~/@item.IMGPath" alt="@item.Name" width="32" height="32"></td>
        }
    </tr>
    <tr>
        <td>Cost</td>
        @foreach (var item in Model.DrinkViewModel.Drinks)
        {
            <td>@item.Cost</td>
        }
    </tr>
    <tr>
        <td>Amount</td>
        @foreach (var item in Model.DrinkViewModel.Drinks)
        {
            <td>@item.Amount</td>
        }
    </tr>
    <tr>
        <td></td>
        @foreach (var item in Model.DrinkViewModel.Drinks)
        {
            <form method="post">
                <input type="hidden" name="drinkId" value=@item.DrinkId />
                <td><button class="drink-button" id=@("drink"+item.DrinkId) value=@item.Cost>Buy</button></td>
            </form>
        }
    </tr>
</table>

<table class="coin">
    <tr>
        <td>Value</td>
        <td>Amount</td>
        <td></td>
    </tr>
    @foreach (var item in Model.DrinkViewModel.Coins)
    {
        <tr>
            <td>@item.Value</td>
            <td>0</td>
            <td><button class="coin-button" id=@("coin"+item.CoinId) value="@item.Value">Insert</button></td>
            <td></td>
        </tr>
    }
</table>

<div class="sum-container">
    <div>Total:</div>
    <div id="total">0</div>
</div>
